<% if (locals.notice) { %>
    <div className="notice"><%= notice %></div>
<% } %>
<div class="wrapper center">
    <div class="form-field base bgcolor-0 round-1 container center">
        <div id="react-login" data-createSessionPath="<%= createSessionPath%>"></div>
    </div>
</div>


